<h2>投稿一覧</h2>
<% @lists.each do |f| %> 
  <p>タイトル</p>
  <span>
    <%=link_to f.title,todolist_path(f.id) %>
  </span>
  <p>画像</p>
  <%= attachment_image_tag f, :image, :fill, 100, 100, format: 'jpeg' %>
<% end %>
